/* Styles for the actual documentation content*/

body {
  font-family: $content-font;
  background-color: $primary-color;
  color: $font-color;
  font-size: 15px;
}

code {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

h1 {
  font-size: 250%;
  margin: 0 0 30px 0;
}

h2 {
  font-family: $heading-font;
  font-size: 180%;
}
h3 {
  font-family: $heading-font;
  font-size: 120%;
}

h4 {
  font-family: $heading-font;
  font-style: italic;
  font-size: 120%;
  margin: 0 0 1em 0;
}

p {
  margin: 1em 0 0 0;
  line-height: 1.3em;
}

li {
  margin-bottom: 0.6em;

  &:last-child {
    margin-bottom: none;
  }
}

a {
  color: inherit;
  font-weight: bolder;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: $code-font;
  border-radius: 2px;
  background: $light-color;  
  display: inline-block;
  padding: 1px 3px;
}

.highlighter-rouge pre {
  margin-left: 2em;
  max-width: 50em;
  background: $light-color;
}

table {
  border-collapse: collapse;

  @media #{$table-collapse} {
    &, tr, td, th {
      display: block;
      border: none;
      text-align: left;
    }

    tr {
      border: 2px solid $light-color;
      padding: 10px;
      margin: 10px 0;
    }

    td {
      border-bottom: 2px solid $light-color;
      &:last-child {
        border-bottom: none;
      }
    }
  }

}


td, th {
  border: 1px solid $dark-color ;
  padding: 0.5em;
}

th.xsd_type_header {
  min-width: 15em;
}

strong.xsd_child_list {
  display: block;
  text-align: center;
  &::before, &::after{
    content: " — ";
  }
}

ul.xsd_child_list {
  margin: 0em;
  padding: 0em;
  li {
    margin: 0em;
    padding: 0em 0.5em;
    list-style: none;
  }
}

ul.xsd_restriction_list {
  list-style: none;
  margin: 0em;
  text-align: right;
}

blockquote {
  margin: 1em 0;
  background: #ffffba;
  border-left: 5px solid #ffcd54;
  padding: 15px 20px;
  color: #b16744;

  h4 {
    color: #f5b007;
    margin-bottom: 0;
  }
}

.glossary_item {
  border-left: solid $glossary-color 4px;
  margin: 1em 0em 1em 0px;
  padding: 5px 10px 10px 10px;
  .glossary_header {
    margin-left: -10px;
    padding: 5px 10px;
    background: $glossary-color;
    display: inline;
    color: $glossary-text-color;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
  }
  h4 {
    margin-top: 15px;
    font-style: normal;
    a {
      text-decoration: none;
    }
    a::after {
      content: " 🔗";
      font-size: 65%;
      vertical-align: middle;
    }
  }
}
