
/* Styles for consumer.html, and any similar landing pages */

#landing-page {
  width: 100%;
  padding-bottom: 100px;

  header, .splash-inner, .post-splash-content {
    margin: auto;
    @media #{$desktop} {
      max-width: 800px;
    }

    @media #{$mobile} {
      max-width: 90%;
    }
  }

  header {
    margin-top: 60px;
  }

  .splash {
    font-size: 1.2em;
    background-image: url(/assets/splash-background.gif);
    width: 100%;
    margin-top: -200px;
    padding-top: 200px;
    z-index: -1;
    padding-bottom: 40px;
  }

  .call-to-action {
    display: block;
    margin: 30px auto 0 auto;
    padding: 14px 20px 10px 20px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    width: 9em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background: #eea900;
    border-bottom: 3px solid #ff8c3b;
    border-radius: 6px;
    box-shadow: 2px 4px 7px rgba(255, 0, 0, 0.4);
  }
}
