
/* Styles for laying out the high level page structure */

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

header {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 1.55em;
  margin: 40px 0;

  &.extra-space {
    margin-top: 60px;
  }

  .text {
    background: $block-color;
    color: white;
    padding: 5px 20px 5px 3px;
    text-decoration: none;
  }
}

#documentation-page {
  overflow: hidden;
  padding-bottom: 100px;

  @media #{$desktop} {
    margin: 0 10vw;
    max-width: 1300px;
  }

  @media #{$mobile} {
    margin: 0 10px;
    max-width: 90%;
  }
}

#columns {
  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column;
  }
}

article {
  display: block;
}