body {
  font-family: $content-font;
  background-color: $primary-color;
  margin: 0;
  color: $font-color;
  font-size: 15px;
}

header {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 1.55em;
  margin: 40px 0;

  &.extra-space {
    margin-top: 60px;
  }

  .text {
    background: $block-color;
    color: white;
    padding: 5px 20px 5px 3px;
    text-decoration: none;
  }
}

body {
  display: flex;
  justify-content: center;
}

#page {
  @media #{$desktop} {
    margin: 0 10vw;
    max-width: 1300px;
  }
  @media #{$mobile} {
    margin: 0 10px;
    max-width: 90%;
  }
}

#columns {
  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column;
  }
}

article {
  display: block;
}

code {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

nav {
  margin-bottom: 30px;

  @media #{$desktop} {
    margin-right: 45px;
  }
}

.nav_item {
  color: $secondary-font-color;
  white-space: nowrap;
  display: inline-block;

  &.selected a {
    color: #27cb6e;
    text-decoration: none;
  }

  @media #{$mobile} {
    background: $light-color;
    padding: 10px 15px 5px 15px;
    margin-right: 10px;
    margin-bottom: 5px;

    a {
      text-decoration: none;
    }

    border-bottom: 5px solid $light-color;

    &.selected {
      border-bottom: 5px solid $opposite-accent;
    }
  }

  @media #{$desktop} {
    min-width: 9em;
    max-width: 9em;
    display: block;
    margin-bottom: 10px;
    line-height: 40px;

    a {
      display: block;
      padding-left: 2px;
      -webkit-font-smoothing: antialiased;
    }

    &.selected a {
      margin-left: -2px;
      background: $light-color;
      margin-right: -0.65em;
      position: relative;
      padding-left: 8px;

      &:after {
        z-index: -1;
        display: block;
        position: absolute;
        right: -14px;
        top: 6px;
        transform: rotate(45deg);
        vertical-align: middle;
        content: "";
        background: $light-color;
        width: 28px;
        height: 28px;
      }
    }
  }
}

h1 {
  font-size: 250%;
  margin: 0 0 30px 0;
}

h2 {
  font-family: $heading-font;
  font-size: 180%;
}
h3 {
  font-family: $heading-font;
  font-size: 120%;
}

h4 {
  font-family: $heading-font;
  font-style: italic;
  font-size: 120%;
  margin: 0 0 1em 0;
}

p {
  margin: 1em 0 0 0;
  line-height: 1.5em;
}

a {
  color: inherit;
  font-weight: bolder;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: $code-font;
  border-radius: 2px;
  background: $light-color;  
  display: inline-block;
  padding: 1px 3px;
}

.highlighter-rouge pre {
  margin-left: 2em;
  max-width: 50em;
  background: $light-color;
}

table {
  border-collapse: collapse;

  @media #{$table-collapse} {
    &, tr, td, th {
      display: block;
      border: none;
      text-align: left;
    }

    tr {
      border: 2px solid $light-color;
      padding: 10px;
      margin: 10px 0;
    }

    td {
      border-bottom: 2px solid $light-color;
      &:last-child {
        border-bottom: none;
      }
    }
  }

}


td, th {
  border: 1px solid $dark-color ;
  padding: 0.5em;
}

th.xsd_type_header {
  min-width: 15em;
}

strong.xsd_child_list {
  display: block;
  text-align: center;
  &::before, &::after{
    content: " — ";
  }
}

ul.xsd_child_list {
  margin: 0em;
  padding: 0em;
  li {
    margin: 0em;
    padding: 0em 0.5em;
    list-style: none;
  }
}

ul.xsd_restriction_list {
  list-style: none;
  margin: 0em;
  text-align: right;
}

.glossary_item {
  border-left: solid $glossary-color 4px;
  margin: 1em 0em 1em 0px;
  padding: 5px 10px 10px 10px;
  .glossary_header {
    margin-left: -10px;
    padding: 5px 10px;
    background: $glossary-color;
    display: inline;
    color: $glossary-text-color;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
  }
  h4 {
    margin-top: 15px;
    font-style: normal;
    a {
      text-decoration: none;
    }
    a::after {
      content: " 🔗";
      font-size: 65%;
    }
  }
}


.splash {
  font-size: 1.2em;
  background-image: url(/assets/splash-background.gif);
  display: block;
  margin: -200px -1000px 0 -1000px;
  padding: 200px 1000px 50px 1000px;
}

.call-to-action {
  display: block;
  margin: 30px auto 0 auto;
  padding: 14px 20px 10px 20px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  width: 9em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  background: $accent;
  border-bottom: 3px solid $accent-text;
  border-radius: 6px;
  box-shadow: 2px 4px 7px rgba(255, 0, 0, 0.4);
}


ul.timeline {
  list-style-type: none;

  li {
    em {
      display: block;
      font-weight: bold;
      color: $opposite-accent;
      font-style: normal;
      margin-bottom: 0.25em;
      -webkit-font-smoothing: antialiased;
    }
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;

    &:after {
      /* bullets */
      content: "●";
      color: $opposite-accent;
      font-size: 18px;
      position: absolute;
      left: -20px; /*adjust manually*/
      top: -4px;
    }

    &:before {
      /* lines */
      content:"";
      position: absolute;
      left: -16px; /* adjust manually */
      border-left: 3px solid $opposite-accent;
      height: 100%;
      width: 1px;
    }

    &:first-child:before {
     top: 6px; /* moves the line down so that it disappears under the bullet. */
    }

    &:last-child:before {
     height: 6px; /* shorten the line so it goes only up to the bullet. */
    }
  }
}
