body {
  font-family: $content-font;
  background-color: $primary-color;
  margin: 5px;
  color: $font-color;
  font-size: 13px;
}

.document {
  padding: 0% 10%;
}

nav {
  border: 1px solid $dark-color;
  margin: 2px;
  padding: 2px;
  font-size: 80%;
  .nav_item {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    border: 1px solid $dark-color;
    color: $secondary-font-color;
  }
  .selected {
    background: $light-color;
  }
}

h1 {
  font-size: 250%;
  margin: 1vw 1vw 1vw -2vw;
}

h2 {
  font-family: $heading-font;
  font-size: 180%;
  margin: .8vw;
}
h3 {
  font-family: $heading-font;
  font-size: 120%;
  margin: .5vw;
}

h4 {
  font-family: $heading-font;
  font-style: italic;
  font-size: 120%;
  margin: .3vw;
}

p {
  padding: 0.5em;
  line-height: 1.2;
}

a {
  color: inherit;
  font-weight: bolder;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


