
/* Styles for the navigation on documentation pages */

nav {
  margin-bottom: 30px;

  @media #{$desktop} {
    margin-right: 45px;
  }
}

.nav_item {
  color: $secondary-font-color;
  white-space: nowrap;
  display: inline-block;

  &.selected a {
    color: #27cb6e;
    text-decoration: none;
  }

  @media #{$mobile} {
    background: $light-color;
    padding: 10px 15px 5px 15px;
    margin-right: 10px;
    margin-bottom: 5px;

    a {
      text-decoration: none;
    }

    border-bottom: 5px solid $light-color;

    &.selected {
      border-bottom: 5px solid $accent;
    }
  }

  @media #{$desktop} {
    min-width: 9em;
    max-width: 9em;
    display: block;
    margin-bottom: 10px;
    line-height: 40px;

    a {
      display: block;
      padding-left: 2px;
      -webkit-font-smoothing: antialiased;
    }

    &.selected a {
      margin-left: -2px;
      background: $light-color;
      margin-right: -0.65em;
      position: relative;
      padding-left: 8px;
      border-left: 5px solid #27cb6e;

      &:after {
        z-index: -1;
        display: block;
        position: absolute;
        right: -14px;
        top: 6px;
        transform: rotate(45deg);
        vertical-align: middle;
        content: "";
        background: $light-color;
        width: 28px;
        height: 28px;
      }
    }
  }
}
