
/* Styles for the timeline list with connected dots */

ul.timeline {
  list-style-type: none;

  li {
    em {
      display: block;
      font-weight: bold;
      color: $accent;
      font-style: normal;
      margin-bottom: 0.25em;
      -webkit-font-smoothing: antialiased;
    }
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;

    &:after {
      /* bullets */
      content: "●";
      color: $accent;
      font-size: 18px;
      position: absolute;
      left: -20px; /*adjust manually*/
      top: -4px;
    }

    &:before {
      /* lines */
      content:"";
      position: absolute;
      left: -16px; /* adjust manually */
      border-left: 3px solid $accent;
      height: 100%;
      width: 1px;
    }

    &:first-child:before {
     top: 6px; /* moves the line down so that it disappears under the bullet. */
    }

    &:last-child:before {
     height: 6px; /* shorten the line so it goes only up to the bullet. */
    }
  }
}
